
<div class="">
    <div data-v-21f3500a="" class="item c-row c-row-between"
        onclick="location.href='/mian/commission_data'">
        <div data-v-21f3500a="" class="c-row c-row-middle">
            <img data-v-21f3500a="" width="24px" height="24px" src="/icons2/deposit_history.png"
                class="img" />
            <span data-v-21f3500a="" class="name">Commission Details</span>
        </div>
        <div data-v-21f3500a="" class="c-row c-row-middle">
            <i data-v-21f3500a="" class="van-icon van-icon-arrow" style="color: #efd58c; font-size: 20px">
                <!---->
            </i>
        </div>
    </div>
    <div data-v-21f3500a="" class="item c-row c-row-between" onclick="location.href='/mian/forgot'">
        <div data-v-21f3500a="" class="c-row c-row-middle">
            <img data-v-21f3500a="" width="24px" height="24px" src="/icons2/setting.png" class="img" /><span
                data-v-21f3500a="" class="name">Security and Safety</span>
        </div>
        <div data-v-21f3500a="" class="c-row c-row-middle">
            <i data-v-21f3500a="" class="van-icon van-icon-arrow" style="color: #efd58c; font-size: 20px">
                <!---->
            </i>
        </div>
    </div>
    <!---->
    <!---->
    <div data-v-21f3500a="" class="item c-row c-row-between" onclick="location.href='/redenvelopes'">
        <div data-v-21f3500a="" class="c-row c-row-middle">
            <img data-v-21f3500a="" width="24px" height="24px" src="/icons2/gift.png" class="img" /><span
                data-v-21f3500a="" class="name">Redeem Code</span>
        </div>
        <div data-v-21f3500a="" class="c-row c-row-middle">
            <i data-v-21f3500a="" class="van-icon van-icon-arrow" style="color: #efd58c; font-size: 20px">
                <!---->
            </i>
        </div>
    </div>
    <!-- <div data-v-21f3500a="" class="item c-row c-row-between" onclick="location.href='/wallet'">
            <div data-v-21f3500a="" class="c-row c-row-middle"><img data-v-21f3500a="" width="24px"
                    height="24px" src="/images/s3.png" class="img"><span data-v-21f3500a=""
                    class="name">Wallet</span>
            </div>
            <div data-v-21f3500a="" class="c-row c-row-middle"><i data-v-21f3500a=""
                    class="van-icon van-icon-arrow" style="color: #efd58c; font-size: 20px;">
           
                </i></div>
        </div> -->
    <div data-v-21f3500a="" class="item c-row c-row-between" onclick="location.href='/about'">
        <div data-v-21f3500a="" class="c-row c-row-middle">
            <img data-v-21f3500a="" width="24px" height="24px" src="/icons2/big_guide.png"
                class="img" /><span data-v-21f3500a="" class="name">About Us</span>
        </div>
        <div data-v-21f3500a="" class="c-row c-row-middle">
            <i data-v-21f3500a="" class="van-icon van-icon-arrow" style="color: #efd58c; font-size: 20px">
                <!---->
            </i>
        </div>
    </div>
    <div data-v-21f3500a="" class="item c-row c-row-between" onclick="location.href='/keFuMenu'">
        <div data-v-21f3500a="" class="c-row c-row-middle">
            <img data-v-21f3500a="" width="24px" height="24px" src="/icons2/cus_service.png"
                class="img" /><span data-v-21f3500a="" class="name">Customer Support Online 24/7</span>
        </div>
        <div data-v-21f3500a="" class="c-row c-row-middle">
            <i data-v-21f3500a="" class="van-icon van-icon-arrow" style="color: #efd58c; font-size: 20px">
                <!---->
            </i>
        </div>
    </div>
</div>