<div data-v-42f27458="" class="game-head">
  <div data-v-42f27458="" class="total-box">
    <div data-v-42f27458="" class="c-row c-row-between c-row-middle info">
      <div data-v-42f27458="" class="c-row c-row-middle">
        <div data-v-42f27458="" class="m-r-10">
          <div
            data-v-42f27458=""
            class="van-image"
            style="width: 60px; height: 60px"
          >
            <img style="filter: hue-rotate(0);" src="/icons2/withdraw_history.png" class="van-image__img" />
          </div>
        </div>
        <div data-v-42f27458="">
          <h3 data-v-42f27458="" class="total m-b-5">Main</h3>
          <span data-v-42f27458="" class="wallet">Balance</span>
        </div>
      </div>
      <div data-v-42f27458="" class="c-row c-row-middle">
        <div data-v-42f27458="" class="num">
          <span data-v-42f27458="" id="money_show"> Trx0.00 </span>
        </div>
        <div
          data-v-42f27458=""
          class="van-image img m-l-10"
          style="width: 15px; height: 15px"
          id="reload_money"
        >
          <img src="/images/tải%20xuống%20(1).png" class="van-image__img" />
        </div>
      </div>
    </div>
  </div>
  <div data-v-42f27458="" class="total-box" style="margin-top: 8px">
    <div data-v-42f27458="" class="c-row c-row-between c-row-middle info">
      <div data-v-42f27458="" class="c-row c-row-middle">
        <div data-v-42f27458="" class="m-r-10">
          <div
            data-v-42f27458=""
            class="van-image"
            style="width: 60px; height: 60px"
          >
            <img style="filter: hue-rotate(0);" src="/icons2/withdraw_history.png" class="van-image__img" />
          </div>
        </div>
        <div data-v-42f27458="">
          <h3 data-v-42f27458="" class="total m-b-5">Winning</h3>
          <span data-v-42f27458="" class="wallet">Balance</span>
        </div>
      </div>
      <div data-v-42f27458="" class="c-row c-row-middle">
        <div data-v-42f27458="" class="num1 num">
          <!----><span data-v-42f27458="" id="money_show"> Trx0.00 </span>
        </div>
        <div
          data-v-42f27458=""
          class="van-image img m-l-10"
          style="width: 15px; height: 15px"
          id="reload_money"
        >
          <img src="/images/tải%20xuống%20(1).png" class="van-image__img" />
        </div>
      </div>
    </div>
  </div>
</div>
