<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Agents Statistics</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet" />
  <link rel="stylesheet" href="/dist/css/adminlte.min.css" />
  <link rel="stylesheet" href="/css/admin.css" />
  <style>
    .block-click {
      pointer-events: none;
    }
  </style>
  <style>
    body {
      font-family: 'Source Sans Pro', sans-serif;
    }

    .card-header {
      background-color: azure;
    }

    thead {
      background-color: azure;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
    }
  </style>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <%- include('nav') %>
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Agent Status</h1>
            </div>
          </div>
        </div>
      </section>
      <div class="row">
        <div class="col-md-3">
          <h4 style="text-align: center;">Search</h4>
        </div>
        <div class="col-md-8">
          <div class="form-group" style="text-align: start;">
            <input type="text" id="search" placeholder="Enter account to search" class="form-control">
          </div>
        </div>
      </div>
      <section class="content">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Agent Status</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body p-0" style="overflow-y: hidden">
            <table class="table table-striped projects" id="table1">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Agent ID</th>
                  <th class="text-center">Mobile</th>
                  <th class="text-center">Total Referrals</th>
                  <th class="text-center">Total deposits</th>
                  <th class="text-center">Total Bet Amount</th>
                  <th class="text-center">View</th>
                </tr>
              </thead>
              <tbody>
                <!-- Data will be populated here -->
              </tbody>
            </table>
          </div>
          <nav aria-label="Page navigation example" style="margin-top: 20px; display: flex; justify-content: center">
            <ul class="pagination table1">
              <li class="page-item previous" id="previous">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <div id="numbers" style="display: flex">
                <li class="page-item">
                  <a class="page-link active text-white" id="text-page"></a>
                </li>
              </div>
              <li class="page-item next" id="next">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </section>

      <!-- Modal for Viewing History -->
      <div class="modal fade" id="historyModal" tabindex="-1" aria-labelledby="historyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="historyModalLabel">View History</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="dateFrom" class="form-label">From</label>
                  <input type="date" class="form-control" id="dateFrom">
                </div>
                <div class="col-md-6">
                  <label for="dateTo" class="form-label">To</label>
                  <input type="date" class="form-control" id="dateTo">
                </div>
              </div>
              <div id="spinner" class="text-center" style="display: none;">
                <div class="spinner-border bg-danger" role="status">
                  <span class="visually-hidden"></span>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <p><strong>Agent ID:</strong> <span id="agentId"></span></p>
                      <p><strong>Agent Name:</strong> <span id="agentName"></span></p>
                      <p><strong>Phone:</strong> <span id="agentPhone"></span></p>

                    </div>
                    <div class="col-md-4">
                      <p><strong>Total Amount:</strong> <span id="totalAmount"></span></p>
                    </div>
                    <div class="col-md-4">
                    </div>
                  </div>
                </div>
              </div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th>Phone</th>
                    <th>Transaction ID</th>
                    <th>UTR</th>
                    <th>Gateway</th>
                    <th>Amount</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody id="historyTableBody">
                  <!-- Data will be populated here -->
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-close" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/plugins/jquery/jquery.min.js"></script>
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/dist/js/adminlte.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <script src="/js/admin/admin.js"></script>
  <script>
    $("#search").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("tbody tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });

    const Render = (datas) => {
      let html = "";
      datas.map((data) => {
        html += `
         <tr class="text-center" data-agent-id="${data.id}" data-agent-name="${data.name_user}" data-agent-phone="${data.phone}">
           <td>${data.id_user}</td>
           <td><b style="color: #2003db">${data.name_user}</b></td>
           <td><b style="color: #2003db">${data.phone}</b></td>
           <td><b>${data.money}</b></td>
           <td><b>${data.bonusMoney}</b></td>
           <td><b>${data.totalDeposits}</b></td>
           <td><button class="btn btn-danger btn-sm view-history-btn" data-agent-id="${data.id}">View History</button></td>
         </tr>`;
      });
      $("tbody").html(html);
    };

    let pageno = 0;
    let limit = 20;
    let page = 1;
    $.ajax({
      type: "POST",
      url: "/api/webapi/admin/listAgents",
      data: {
        typeid: "1",
        pageno: pageno,
        limit: limit,
        language: "vi",
      },
      dataType: "json",
      success: function (response) {
        $("#text-page").text(page + " / " + response.page_total);
        if (response.status === true) return Render(response.datas);
      },
    });

    $("#search").keypress(function (event) {
      var keycode = event.keyCode ? event.keyCode : event.which;
      var value = $("#search").val().trim();
      if (keycode == "13") {
        $.ajax({
          type: "POST",
          url: "/api/webapi/search",
          data: {
            phone: value,
          },
          dataType: "json",
          success: function (response) {
            if (response.status === true) return Render(response.datas);
          },
        });
      }
    });

    $("#next").click(function (e) {
      pageno += limit;
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "/api/webapi/admin/listAgents",
        data: {
          typeid: "1",
          pageno: pageno,
          limit: limit,
          language: "vi",
        },
        dataType: "json",
        success: function (response) {
          if (response.datas.length == 0) {
            $("#next").addClass("block-click");
            return (pageno -= limit);
          }
          $("#text-page").text(++page + " / " + response.page_total);
          if (response.status === true) return Render(response.datas);
        },
      });
    });

    $("#previous").click(function (e) {
      e.preventDefault();
      $("#next").removeClass("block-click");
      pageno -= limit;
      if (pageno < 0) return (pageno = 0);
      $.ajax({
        type: "POST",
        url: "/api/webapi/admin/listAgents",
        data: {
          typeid: "1",
          pageno: pageno,
          limit: limit,
          language: "vi",
        },
        dataType: "json",
        success: function (response) {
          $("#text-page").text(--page + " / " + response.page_total);
          if (response.status === true) return Render(response.datas);
        },
      });
    });

    $(document).ready(function () {
      $(document).on("click", ".view-history-btn", function () {
        const row = $(this).closest("tr");
        const agentId = row.data("agent-id");
        const agentName = row.data("agent-name");
        const agentPhone = row.data("agent-phone");

        $("#agentId").text(agentId);
        $("#agentName").text(agentName);
        $("#agentPhone").text(agentPhone);

        $("#historyModal").modal("show");
        $("#historyTableBody").html("");
      });

      // <td>
      //                 ${item.category.charAt(0).toUpperCase() + item.category.slice(1).toLowerCase() }
      //               </td>
      function fetchData() {
        const dateFrom = $("#dateFrom").val();
        const dateTo = $("#dateTo").val();
        const agentId = $("#agentId").text();

        if (dateFrom && dateTo) {
          $("#spinner").show();

          $.ajax({
            type: "POST",
            url: "/api/webapi/admin/filterAgentHistory",
            data: { dateFrom: dateFrom, dateTo: dateTo, agentId: agentId },
            dataType: "json",
            success: function (response) {
              $("#spinner").hide();
              $("#totalAmount").text(response.totalRecharge);

              let tableBody = "";
              response.data.forEach((item, index) => {
                tableBody += `
                  <tr>
                    <td>${index + 1}</td>
                    <td>${item.id_order}</td>
                    <td>${item.phone}</td>
                    <td>${item.transaction_id}</td>
                    <td>${item.utr}</td>
                    <td>${item.type}</td>
                    <td>${item.money}</td>
                    <td>${
                      new Date(item.date).toLocaleString('en-US', {
                                year: 'numeric',
                                month: 'short',
                                day: '2-digit',
                                hour: '2-digit',
                                minute: '2-digit',
                                hour12: false // Use 24-hour format
                              }) 
                      
                      
                      }</td>
                  </tr>`;
              });
              $("#historyTableBody").html(tableBody);
            },
            error: function (error) {
              $("#spinner").hide();
              console.error("Error fetching data:", error);
            }
          });
        }
      }

      $("#dateFrom, #dateTo").on("change", fetchData);
    });
  </script>

<script>
  $(document).on("click", ".btn-close", function () {
    // Dismiss the modal
    $('#historyModal').modal('hide');

    // // Perform additional actions here
    // let tableBody = "<tr><td>1</td><td>Example User ID</td><td>Example Order ID</td><td>Example Transaction ID</td><td>Example Phone</td><td>Example Money</td><td>Example Type</td><td>Example Status</td><td>Example Date</td><td>Example Time</td><td>Example UTR</td></tr>";
    // $("#historyModal #historyTableBody").html(tableBody);
  });
</script>

</body>

</html>
