<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px">

<head>
  <meta charset="utf-8" />
  <meta name="csrf-token" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex,nofollow" />
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
  <title>PlayWin</title>
  <link href="/css/wallet/main.css" rel="stylesheet" />
  <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
  <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
  <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="shortcut icon" href="/images2/kpcgaming_platform_logo.jpg" type="image/x-icon" />
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      background-color: #0c0c0f;
      padding: 0;
      margin: 0;
    }
  </style>
</head>

<body style="font-size: 12px">
  <div id="app">
    <div data-v-7b283485="" class="mian">
      <div data-v-106b99c8="" data-v-7b283485="" class="navbar"
        style="background-image: linear-gradient(90deg, #3f3f3f, #3f3f3f)">
        <div data-v-106b99c8="" class="navbar-left"></div>
        <div data-v-106b99c8="" class="navbar-title">Wallet</div>
        <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/keFuMenu'">
          <div data-v-7b283485="" data-v-106b99c8="" class="c-row">
            <img data-v-7b283485="" data-v-106b99c8="" src="/images/audio.webp" class="audio" />
          </div>
        </div>
      </div>
      <div data-v-7b283485="" class="wallet">
        <div data-v-7b283485="" class="wallet-user c-tc">
          <div data-v-7b283485="" class="c-row c-row-center img">
            <div data-v-7b283485="" class="van-image" border-radius="60px" style="width: 60px; height: 60px">
              <img src="/images/avatar.svg" class="van-image__img" />
            </div>
          </div>
          <div data-v-7b283485="" class="name"></div>
        </div>
        <div data-v-7b283485="" class="wallet-box">
          <div data-v-7b283485="" class="box">
            <div data-v-7b283485="" class="icon1"></div>
            <div data-v-7b283485="" class="title">Wallet</div>
            <div data-v-7b283485="" class="balance m-t-10">
              <div data-v-7b283485="" class="txt c-row c-row-middle">
                My balance：(Winning + Main)
              </div>
              <div data-v-7b283485="" class="c-row balanceMoney c-row-middle-center">
                <div data-v-7b283485="" class="money wm">
                  <div data-v-7b283485="">
                    0.00<span data-v-7b283485="" class="p-l-10">₹</span>
                  </div>
                </div>
                <!-- <div data-v-7b283485="" class="money1">
                    <div data-v-7b283485="">
                      0.00<span data-v-7b283485="" class="p-l-10">₹</span>
                    </div>
                  </div> -->
                <div data-v-7b283485="" id="reload">
                  <div data-v-7b283485="" class="van-image img m-l-15" style="width: 25px; height: 25px">
                    <img src="/images/reload.png" class="van-image__img" />
                  </div>
                </div>
              </div>
              <div data-v-7b283485="" class="info c-row">
                <div data-v-7b283485="" class="item">
                  <div data-v-7b283485="">Main Balance</div>
                  <div data-v-7b283485="" class="winning">₹ 0.00</div>
                </div>
                <div data-v-7b283485="" class="item">
                  <div data-v-7b283485="">Winning Balance</div>

                  <div data-v-7b283485="" class="main">₹ 0.00</div>
                </div>
              </div>

              <div data-v-7b283485="" style="display: none" class="info c-row">
                <div data-v-7b283485="" class="item">
                  <div data-v-7b283485="">Transaction history</div>
                  <!---->
                  <div data-v-7b283485="">0.00 trx</div>
                </div>
                <div data-v-7b283485="" class="item">
                  <div data-v-7b283485="">Accumulated withdrawal</div>
                  <!---->
                  <div data-v-7b283485="">0.00 trx</div>
                </div>
              </div>
            </div>

            <!-- <div data-v-7b283485="" class="c-row c-row-between total-btn m-t-30"
              style="display: flex; justify-content: center; gap: 4px;">
              <div data-v-7b283485="" class="item c-row c-row-center" onclick="location.href='/wallet/recharge'">
                <div data-v-7b283485="" class="li">DEPOSIT</div>
              </div>
              <div data-v-7b283485="" class="item c-row c-row-center" onclick="location.href='/wallet/withdrawal'">
                <div data-v-7b283485="" class="li">WITHDRAWAL</div>
              </div>
            </div> -->
          </div>
          <div data-v-7b283485="" class=" mt-2">
            <div class="grid grid-cols-4 gap-1 bg-[#D2B66E]/[0.1] rounded px-1 py-3">
              <div data-v-7b283485=""
                class="item c-row c-row-center flex flex-col items-center justify-start"
                onclick="location.href='/wallet/recharge'">
                <img src="/images/deposit_tr.png" alt="Deposit Icon" class="w-4 h-4 mb-1 shadow-lg rounded shadow-[#d2b66e]/[0.5]">
                <div data-v-7b283485="" class="text-center text-[0.2604rem] font-medium text-gray-300">DEPOSIT</div>
              </div>
              <div data-v-7b283485=""
                class="item c-row c-row-center flex flex-col items-center justify-start"
                onclick="location.href='/wallet/withdrawal'">
                <img src="/images/withdrawBlue_tr.png" alt="Withdraw Icon" class="w-4 h-4 mb-1 shadow-lg rounded shadow-[#d2b66e]/[0.5]">
                <div data-v-7b283485="" class="text-center text-[0.2604rem] font-medium text-gray-300">WITHDRAW</div>
              </div>
              <div data-v-7b283485=""
                class="item c-row c-row-center flex flex-col items-center justify-start"
                onclick="location.href='/wallet/rechargerecord'">
                <img src="/images/rechargeHistory_tr.png" alt="Deposit History Icon" class="w-4 h-4 mb-1 shadow-lg rounded shadow-[#d2b66e]/[0.5]">
                <div data-v-7b283485="" class="text-center text-[0.2604rem] font-medium text-gray-300">DEPOSIT HISTORY</div>
              </div>
              <div data-v-7b283485=""
                class="item c-row c-row-center flex flex-col items-center justify-start"
                onclick="location.href='/wallet/withdrawalrecord'">
                <img src="/images/withdrawHistory_tr.png" alt="Withdraw History Icon" class="w-4 h-4 mb-1 shadow-lg rounded shadow-[#d2b66e]/[0.5]">
                <div data-v-7b283485="" class="text-center text-[0.2604rem] font-medium text-gray-300">WITHDRAW HISTORY</div>
              </div>
            </div>
          </div>

        </div>
        <div class="container mx-auto ">
          <div class="grid grid-cols-3 gap-1 p-2">
            <!-- First Image Block -->
            <div class="relative flex flex-col justify-center items-center bg-[#54E322]/[0.1] rounded p-1 aspect-square">
              <img src="/gameCategories/rummy.png" class="absolute inset-0 w-[90%] h-full object-contain opacity-10" />
              <p class="relative z-10 text-white text-[0.3646rem] font-bold">0.00</p>
              <p class="relative z-10 text-gray-400 italic tracking-wider text-[0.3125rem] font-medium">Lottery</p>
            </div>
            <!-- Second Image Block -->
            <div class="relative flex flex-col justify-center items-center bg-[#54E322]/[0.1] rounded p-1 aspect-square">
              <img src="/gameCategories/fishing.png" class="absolute inset-0 w-[90%] h-full object-contain opacity-10" />
              <p class="relative z-10 text-white text-[0.3646rem] font-bold">0.00</p>
              <p class="relative z-10 text-gray-400 italic tracking-wider text-[0.3125rem] font-medium">TB_Chess</p>
            </div>
            <!-- Third Image Block -->
            <div class="relative flex flex-col justify-center items-center bg-[#54E322]/[0.1] rounded p-1 aspect-square">
              <img src="/gameCategories/live_casino.png"
                class="absolute inset-0 w-[90%] h-full object-contain opacity-10" />
              <p class="relative z-10 text-white text-[0.3646rem] font-bold">0.00</p>
              <p class="relative z-10 text-gray-400 italic tracking-wider text-[0.3125rem] font-medium">Wickets9</p>
            </div>
            <!-- Repeat for other blocks -->
            <div class="relative flex flex-col justify-center items-center bg-[#54E322]/[0.1] rounded p-1 aspect-square">
              <img src="/gameCategories/rummy.png" class="absolute inset-0 w-[90%] h-full object-contain opacity-10" />
              <p class="relative z-10 text-white text-[0.3646rem] font-bold">0.00</p>
              <p class="relative z-10 text-gray-400 italic tracking-wider text-[0.3125rem] font-medium">JILI</p>
            </div>
            <div class="relative flex flex-col justify-center items-center bg-[#54E322]/[0.1] rounded p-1 aspect-square">
              <img src="/gameCategories/fishing.png" class="absolute inset-0 w-[90%] h-full object-contain opacity-10" />
              <p class="relative z-10 text-white text-[0.3646rem] font-bold">0.00</p>
              <p class="relative z-10 text-gray-400 italic tracking-wider text-[0.3125rem] font-medium">PG</p>
            </div>
            <div class="relative flex flex-col justify-center items-center bg-[#54E322]/[0.1] rounded p-1 aspect-square">
              <img src="/gameCategories/live_casino.png"
                class="absolute inset-0 w-[90%] h-full object-contain opacity-10" />
              <p class="relative z-10 text-white text-[0.3646rem] font-bold">0.00</p>
              <p class="relative z-10 text-gray-400 italic tracking-wider text-[0.3125rem] font-medium">DG</p>
            </div>

            <!-- First Image Block -->
            <div class="relative flex flex-col justify-center items-center bg-[#54E322]/[0.1] rounded p-1 aspect-square">
              <img src="/gameCategories/live_casino.png"
                class="absolute inset-0 w-[90%] h-full object-contain opacity-10" />
              <p class="relative z-10 text-white text-[0.3646rem] font-bold">0.00</p>
              <p class="relative z-10 text-gray-400 italic tracking-wider text-[0.3125rem] font-medium">MG</p>
            </div>
            <!-- Second Image Block -->
            <div class="relative flex flex-col justify-center items-center bg-[#54E322]/[0.1] rounded p-1 aspect-square">
              <img src="/gameCategories/live_casino.png"
                class="absolute inset-0 w-[90%] h-full object-contain opacity-10" />
              <p class="relative z-10 text-white text-[0.3646rem] font-bold">0.00</p>
              <p class="relative z-10 text-gray-400 italic tracking-wider text-[0.3125rem] font-medium">JDB</p>
            </div>
            <!-- Third Image Block -->
            <div class="relative flex flex-col justify-center items-center bg-[#54E322]/[0.1] rounded p-1 aspect-square">
              <img src="/gameCategories/live_casino.png"
                class="absolute inset-0 w-[90%] h-full object-contain opacity-10" />
              <p class="relative z-10 text-white text-[0.3646rem] font-bold">0.00</p>
              <p class="relative z-10 text-gray-400 italic tracking-wider text-[0.3125rem] font-medium">SaBa</p>
            </div>
            <!-- First Image Block -->
            <div class="relative flex flex-col justify-center items-center bg-[#54E322]/[0.1] rounded p-1 aspect-square">
              <img src="/gameCategories/live_casino.png"
                class="absolute inset-0 w-[90%] h-full object-contain opacity-10" />
              <p class="relative z-10 text-white text-[0.3646rem] font-bold">0.00</p>
              <p class="relative z-10 text-gray-400 italic tracking-wider text-[0.3125rem] font-medium">CQ9</p>
            </div>
            <!-- Second Image Block -->
            <div class="relative flex flex-col justify-center items-center bg-[#54E322]/[0.1] rounded p-1 aspect-square">
              <img src="/gameCategories/live_casino.png"
                class="absolute inset-0 w-[90%] h-full object-contain opacity-10" />
              <p class="relative z-10 text-white text-[0.3646rem] font-bold">0.00</p>
              <p class="relative z-10 text-gray-400 italic tracking-wider text-[0.3125rem] font-medium">TB</p>
            </div>
            <!-- Third Image Block -->
            <div class="relative flex flex-col justify-center items-center bg-[#54E322]/[0.1] rounded p-1 aspect-square">
              <img src="/gameCategories/live_casino.png"
                class="absolute inset-0 w-[90%] h-full object-contain opacity-10" />
              <p class="relative z-10 text-white text-[0.3646rem] font-bold">0.00</p>
              <p class="relative z-10 text-gray-400 italic tracking-wider text-[0.3125rem] font-medium">EVO_Video</p>
            </div>
            <!-- First Image Block -->
            <div class="relative flex flex-col justify-center items-center bg-[#54E322]/[0.1] rounded p-1 aspect-square">
              <img src="/gameCategories/live_casino.png"
                class="absolute inset-0 w-[90%] h-full object-contain opacity-10" />
              <p class="relative z-10 text-white text-[0.3646rem] font-bold">0.00</p>
              <p class="relative z-10 text-gray-400 italic tracking-wider text-[0.3125rem] font-medium">AG_Videos</p>
            </div>
            <!-- Second Image Block -->
            <div class="relative flex flex-col justify-center items-center bg-[#54E322]/[0.1] rounded p-1 aspect-square">
              <img src="/gameCategories/live_casino.png"
                class="absolute inset-0 w-[90%] h-full object-contain opacity-10" />
              <p class="relative z-10 text-white text-[0.3646rem] font-bold">0.00</p>
              <p class="relative z-10 text-gray-400 italic tracking-wider text-[0.3125rem] font-medium">Card365</p>
            </div>
            <!-- Third Image Block -->
            <div class="relative flex flex-col justify-center items-center bg-[#54E322]/[0.1] rounded p-1 aspect-square">
              <img src="/gameCategories/live_casino.png"
                class="absolute inset-0 w-[90%] h-full object-contain opacity-10" />
              <p class="relative z-10 text-white text-[0.3646rem] font-bold">0.00</p>
              <p class="relative z-10 text-gray-400 italic tracking-wider text-[0.3125rem] font-medium">V8Card</p>
            </div>
            <div class="relative flex flex-col justify-center items-center bg-[#54E322]/[0.1] rounded p-1 aspect-square">
              <img src="/gameCategories/live_casino.png"
                class="absolute inset-0 w-[90%] h-full object-contain opacity-10" />
              <p class="relative z-10 text-white text-[0.3646rem] font-bold">0.00</p>
              <p class="relative z-10 text-gray-400 italic tracking-wider text-[0.3125rem] font-medium">SEXY_Video</p>
            </div>

          </div>





        </div>
      </div>
      <%- include('../nav') -%>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/client.js"></script>
  <script>
    $("#reload .van-image").click(function (e) {
      e.preventDefault();
      $(this).addClass("action block-click");
      setTimeout(() => {
        $(this).removeClass("action block-click");
      }, 2500);
      $.ajax({
        type: "GET",
        url: "/api/webapi/GetUserInfo",
        dataType: "json",
        success: function (response) {
          let user = response.data;
          $(".wallet-user .name").text(user.name_user);
          $(".money").text(user.money_user + user.bonus_money + " trx");
          // $(".money1").text(user.bonusMoney + " trx");
        },
      });
    });
    $.ajax({
      type: "GET",
      url: "/api/webapi/GetUserInfo",
      dataType: "json",
      success: function (response) {
        let user = response.data;
        $(".wallet-user .name").text(user.name_user);
        $(".money").text(user.money_user + user.bonus_money + ".00 ₹");
        $(".balance .item:eq(0) div:eq(1)").text(user.money_user + ".00 ₹");
        $(".balance .item:eq(1) div:eq(1)").text(user.bonus_money + ".00 ₹");
      },
    });

  </script>
</body>

</html>