<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px" style="min-height: 100vh">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex,nofollow" />
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
  <title>PlayWin</title>
  <link href="/css/member/main.css" rel="stylesheet" />
  <link href="/css/member/chunk-1.css" rel="stylesheet" />
  <link href="/css/member/chunk-2.css" rel="stylesheet" />
  <link href="/css/member/chunk-3.css" rel="stylesheet" />
  <link href="/css/member/chunk-4.css" rel="stylesheet" />
  <link href="/css/member/chunk-4.css" rel="stylesheet" />
  <link href="/css/member/chunk-6.css" rel="stylesheet" />
  <link href="/css/member/chunk-7.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/images2/kpcgaming_platform_logo.jpg" type="image/x-icon" />
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      background-color: #0c0c0f;
      padding: 0;
      margin: 0;
    }

    .block-click {
      pointer-events: none;
    }
  </style>
</head>

<body>
  <div id="app">
    <div data-v-8cd483ca="" class="mian page">
      <div data-v-106b99c8="" data-v-8cd483ca="" class="navbar"
        style="background-image: linear-gradient(90deg, #3f3f3f, #3f3f3f)">
        <div data-v-106b99c8="" class="navbar-left"></div>
        <div data-v-106b99c8="" class="navbar-title">Mine</div>
        <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/keFuMenu'">
          <div data-v-8cd483ca="" data-v-106b99c8="" class="c-row">
            <img data-v-8cd483ca="" data-v-106b99c8="" src="/images/audio.webp" class="audio" />
          </div>
        </div>
      </div>
      <div data-v-8cd483ca="" class="menu-box">
        <div data-v-8cd483ca="" class="info p-t-30 p-l-30 p-b-30 p-r-20">
          <div data-v-8cd483ca="" class="c-row c-row-between c-row-middle state-box c-pr"
            onclick="location.href='/myProfile'">
            <div data-v-8cd483ca="" class="c-row c-row-middle">
              <div data-v-8cd483ca="" class="user-img">
                <img data-v-8cd483ca="" src="/images/avatar.svg" class="img" />
              </div>
              <div data-v-8cd483ca="" class="p-l-10 infoName">
                <div data-v-8cd483ca="" class="name mb3 c-row c-row-middle"></div>
                <div data-v-8cd483ca="" class="id tag-read mb3" data-clipboard-text="42472"></div>
                <div data-v-8cd483ca="" class="number mb3"></div>
                <!---->
              </div>
            </div>
            <div data-v-8cd483ca="" class="profile">
              <i data-v-8cd483ca="" class="van-icon van-icon-arrow" style="color: rgb(255, 255, 255); font-size: 20px">
                <!---->
              </i>
            </div>
          </div>
        </div>
        <div data-v-8cd483ca="" class="total-box">
          <div data-v-8cd483ca="" class="infoItem">
            <div data-v-8cd483ca="" class="c-row c-row-middle">
              <img data-v-8cd483ca="" width="45px" height="45px" src="/icons2/withdraw_history.png" class="walletImg" />
              <div data-v-8cd483ca="" class="p-l-15">
                <div data-v-8cd483ca="" class="des u-m-b-15">
                  Main Balance
                </div>
                <div data-v-8cd483ca="" class="c-row c-row-middle c-row-center p-t-4">
                  <div data-v-8cd483ca="" class="money">
                    <div data-v-8cd483ca="">
                      <!---->
                      <span data-v-8cd483ca="" class="txt"> ₹ 0.00 </span>
                    </div>
                  </div>
                  <div data-v-8cd483ca="">
                    <!-- <img
                        data-v-8cd483ca=""
                        width="20px"
                        height="20px"
                        src="/images/tải xuống (1).png"
                        class="img m-l-10 reload_money"
                      /> -->
                  </div>
                </div>
              </div>
              <div data-v-8cd483ca="" class="p-l-15">
                <div data-v-8cd483ca="" class="des u-m-b-15">
                  Winning Balance
                </div>
                <div data-v-8cd483ca="" class="c-row c-row-middle c-row-center p-t-4">
                  <div data-v-8cd483ca="" class="money">
                    <div data-v-8cd483ca="">
                      <!---->
                      <span data-v-8cd483ca="" class="txt txt1">
                        ₹ 0.00
                      </span>
                    </div>
                  </div>
                  <div data-v-8cd483ca="">
                    <!-- <img
                        data-v-8cd483ca=""
                        width="20px"
                        height="20px"
                        src="/images/tải xuống (1).png"
                        class="img m-l-10 reload_money"
                      /> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- <div data-v-8cd483ca="" class="c-row c-row-between m-t-10 infoBtn">
              <div data-v-8cd483ca="" class="item c-row c-row-center" onclick="location.href='/wallet/withdrawal'">
                <div data-v-8cd483ca="" class="li">Withdraw</div>
              </div>
              <div data-v-8cd483ca="" class="item c-row c-row-center" onclick="location.href='/wallet/recharge'">
                <div data-v-8cd483ca="" class="li">Recharge</div>
              </div>
            </div> -->

            <div class="grid grid-cols-3 gap-1 mt-2">
              <div data-v-7b283485=""
                class="item c-row c-row-center flex flex-col items-center justify-start"
                onclick="location.href='/wallet/recharge'">
                <img src="/images/deposit_tr.png" alt="Deposit Icon" class="w-4 h-4 mb-1 shadow-lg rounded shadow-[#d2b66e]/[0.5]">
                <div data-v-7b283485="" class="text-center text-[0.2850rem] tracking-wider font-medium text-gray-200">Deposit</div>
              </div>
              <div data-v-7b283485=""
                class="item c-row c-row-center flex flex-col items-center justify-start"
                onclick="location.href='/wallet/withdrawal'">
                <img src="/images/withdrawBlue_tr.png" alt="Withdraw Icon" class="w-4 h-4 mb-1 shadow-lg rounded shadow-[#d2b66e]/[0.5]">
                <div data-v-7b283485="" class="text-center text-[0.2850rem] tracking-wider font-medium text-gray-200">Withdraw</div>
              </div>
              <div data-v-7b283485=""
                class="item c-row c-row-center flex flex-col items-center justifystart"
                onclick="location.href='#'">
                <img src="/images/withdrawHistory_tr.png" alt="Withdraw History Icon" class="w-4 h-4 mb-1 shadow-lg rounded shadow-[#d2b66e]/[0.5]">
                <div data-v-7b283485="" class="text-center text-[0.2850rem] tracking-wider font-medium text-gray-200">VIP</div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col m-2 gap-1">
          <% if (level==1) { %>
          <div data-v-21f3500a="" class="bg-[#EFD58C]/[0.5] flex justify-between items-center p-1 rounded"
          onclick="location.href='/admin/manager/dashboard'">
              <div data-v-21f3500a="" class="c-row c-row-middle">
                <img data-v-21f3500a="" width="24px" height="24px" src="/icons2/setting.png" class="img" />
                <span data-v-21f3500a="" class="text-[0.3125rem] text-gray-100 font-bold tracking-wide ">Administrator Area</span>
              </div>
              <div data-v-21f3500a="" class="c-row c-row-middle">
                  <i data-v-21f3500a="" class="van-icon van-icon-arrow"
                      style="color: #efd58c; font-size: 20px">
                      <!---->
                  </i>
              </div>
          </div>
          <% } %>
          <div data-v-21f3500a="" class="bg-[#EFD58C]/[0.5] flex justify-between items-center p-1 rounded" onclick="showComingSoon()">
            <div data-v-21f3500a="" class="c-row c-row-middle">
              <img data-v-21f3500a="" width="24px" height="24px" src="/icons2/gift.png" class="img" /><span
                data-v-21f3500a="" class="text-[0.3125rem] text-gray-100 font-bold tracking-wide ">Notifications</span>
            </div>
            <div data-v-21f3500a="" class="c-row c-row-middle">
              <i data-v-21f3500a="" class="van-icon van-icon-arrow" style="color: #efd58c; font-size: 20px">
                <!---->
              </i>
            </div>
          </div>
     

              <% if (level==2) { %>
                <div data-v-21f3500a="" class="bg-[#EFD58C]/[0.5] flex justify-between items-center p-1 rounded"
                  onclick="location.href='/mian/subordinate_data'">
                  <div data-v-21f3500a="" class="c-row c-row-middle">
                    <img data-v-21f3500a="" width="24px" height="24px" src="/icons2/deposit_history.png" class="img" />
                    <span data-v-21f3500a="" class="text-[0.3125rem] text-gray-100 font-bold tracking-wide ">Subordinate Data</span>
                  </div>
                  <div data-v-21f3500a="" class="c-row c-row-middle">
                    <i data-v-21f3500a="" class="van-icon van-icon-arrow" style="color: #efd58c; font-size: 20px">
                      <!---->
                    </i>
                  </div>
                </div>
                <% } %>
                  <div data-v-21f3500a="" class="bg-[#EFD58C]/[0.5] flex justify-between items-center p-1 rounded"
                    onclick="location.href='/mian/commission_data'">
                    <div data-v-21f3500a="" class="c-row c-row-middle">
                      <img data-v-21f3500a="" width="24px" height="24px" src="/icons2/deposit_history.png"
                        class="img" />
                      <span data-v-21f3500a="" class="text-[0.3125rem] text-gray-100 font-bold tracking-wide ">Commission Details</span>
                    </div>
                    <div data-v-21f3500a="" class="c-row c-row-middle">
                      <i data-v-21f3500a="" class="van-icon van-icon-arrow" style="color: #efd58c; font-size: 20px">
                        <!---->
                      </i>
                    </div>
                  </div>
                  <div data-v-21f3500a="" class="bg-[#EFD58C]/[0.5] flex justify-between items-center p-1 rounded" onclick="location.href='/mian/forgot'">
                    <div data-v-21f3500a="" class="c-row c-row-middle">
                      <img data-v-21f3500a="" width="24px" height="24px" src="/icons2/setting.png" class="img" /><span
                        data-v-21f3500a="" class="text-[0.3125rem] text-gray-100 font-bold tracking-wide ">Security and Safety</span>
                    </div>
                    <div data-v-21f3500a="" class="c-row c-row-middle">
                      <i data-v-21f3500a="" class="van-icon van-icon-arrow" style="color: #efd58c; font-size: 20px">
                        <!---->
                      </i>
                    </div>
                  </div>
                  <!---->
                  <!---->
                  <div data-v-21f3500a="" class="bg-[#EFD58C]/[0.5] flex justify-between items-center p-1 rounded" onclick="location.href='/redenvelopes'">
                    <div data-v-21f3500a="" class="c-row c-row-middle">
                      <img data-v-21f3500a="" width="24px" height="24px" src="/icons2/gift.png" class="img" /><span
                        data-v-21f3500a="" class="text-[0.3125rem] text-gray-100 font-bold tracking-wide ">Redeem Code</span>
                    </div>
                    <div data-v-21f3500a="" class="c-row c-row-middle">
                      <i data-v-21f3500a="" class="van-icon van-icon-arrow" style="color: #efd58c; font-size: 20px">
                        <!---->
                      </i>
                    </div>
                  </div>

                  
                  <!-- <div data-v-21f3500a="" class="bg-[#EFD58C]/[0.5] flex justify-between items-center p-1 rounded" onclick="location.href='/wallet'">
                        <div data-v-21f3500a="" class="c-row c-row-middle"><img data-v-21f3500a="" width="24px"
                                height="24px" src="/images/s3.png" class="img"><span data-v-21f3500a=""
                                class="name">Wallet</span>
                        </div>
                        <div data-v-21f3500a="" class="c-row c-row-middle"><i data-v-21f3500a=""
                                class="van-icon van-icon-arrow" style="color: #efd58c; font-size: 20px;">
                       
                            </i></div>
                    </div> -->
                  <div data-v-21f3500a="" class="bg-[#EFD58C]/[0.5] flex justify-between items-center p-1 rounded" onclick="location.href='/about'">
                    <div data-v-21f3500a="" class="c-row c-row-middle">
                      <img data-v-21f3500a="" width="24px" height="24px" src="/icons2/big_guide.png" class="img" /><span
                        data-v-21f3500a="" class="text-[0.3125rem] text-gray-100 font-bold tracking-wide ">About Us</span>
                    </div>
                    <div data-v-21f3500a="" class="c-row c-row-middle">
                      <i data-v-21f3500a="" class="van-icon van-icon-arrow" style="color: #efd58c; font-size: 20px">
                        <!---->
                      </i>
                    </div>
                  </div>
                  <div data-v-21f3500a="" class="bg-[#EFD58C]/[0.5] flex justify-between items-center p-1 rounded" onclick="location.href='/keFuMenu'">
                    <div data-v-21f3500a="" class="c-row c-row-middle">
                      <img data-v-21f3500a="" width="24px" height="24px" src="/icons2/cus_service.png"
                        class="img" /><span data-v-21f3500a="" class="text-[0.3125rem] text-gray-100 font-bold tracking-wide ">Customer Support Online 24/7</span>
                    </div>
                    <div data-v-21f3500a="" class="c-row c-row-middle">
                      <i data-v-21f3500a="" class="van-icon van-icon-arrow" style="color: #efd58c; font-size: 20px">
                        <!---->
                      </i>
                    </div>
                  </div>
      </div>


        <!---->
        <!-- <div
            data-v-8cd483ca=""
            class="promote c-row c-row-middle-center"
            onclick="location.href='/promotion'"
          >
            <div data-v-8cd483ca="" class="c-row c-row-middle">
              <div data-v-8cd483ca="">Promotion</div>
            </div>
            <img
              data-v-8cd483ca=""
              width="30px"
              height="15px"
              src="/images/tải xuống.png"
              class="img"
            />
          </div> -->
        <!-- <div data-v-8cd483ca="" class="nav-muen c-row p-r-15 p-l-15">
                    <div data-v-8cd483ca="" class="item c-tc"><img data-v-8cd483ca="" width="45px" height="45px"
                            src="/images/s6.png" class="img">
                        <div data-v-8cd483ca="" class="name"> Bet History</div>
                    </div>
                    <div data-v-8cd483ca="" class="item c-tc"><img data-v-8cd483ca="" width="45px" height="45px"
                            src="/images/s7.png" class="img">
                        <div data-v-8cd483ca="" class="name"> Transactions History </div>
                    </div>
                    <div data-v-8cd483ca="" class="item c-tc"><img data-v-8cd483ca="" width="45px" height="45px"
                            src="/images/s8.png" class="img">
                        <div data-v-8cd483ca="" class="name"> Login History </div>
                    </div>
                    <div data-v-8cd483ca="" class="item c-tc">
                        <div data-v-8cd483ca="" class="messageImg"><span data-v-8cd483ca="" class="number">34</span><img
                                data-v-8cd483ca="" width="45px" height="45px" src="/images/s9.png" class="img"></div>
                        <div data-v-8cd483ca="" class="name"> News </div>
                    </div>
                </div> -->
        <div data-v-21f3500a="" data-v-8cd483ca="" class="list">
         

                
        </div>
      </div>
      <div data-v-8cd483ca="" class="logout-btn m-t-40">
        <div data-v-8cd483ca="" class="gradient">
          <button data-v-8cd483ca=""
            class="logout van-button van-button--default van-button--normal van-button--block van-button--round" style="
                color: rgb(255, 255, 255);
                background: #efd58c;
                border-color: #efd58c;
              ">
            <div data-v-8cd483ca="" class="van-button__content">
              <span data-v-8cd483ca="" class="van-button__text">
                <span data-v-8cd483ca="">Logout</span>
              </span>
            </div>
          </button>
        </div>
      </div>
      <div data-v-7692a079="" data-v-8cd483ca="" class="Loading c-row c-row-middle-center" style="/* display: none; */">
        <div data-v-7692a079="" class="van-loading van-loading--circular">
          <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="color: #efd58c">
            <svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
              <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
            </svg>
          </span>
        </div>
      </div>
      <%- include('../nav') -%>
    </div>
  </div>
  <div class="van-overlay" style="z-index: 2001; display: none"></div>
  <div role="dialog" class="van-dialog" style="z-index: 2002; display: none" aria-labelledby="Lời nhắc">
    <div class="van-dialog__header">Reminder</div>
    <div class="van-dialog__content">
      <div class="van-dialog__message van-dialog__message--has-title">
        Do you want to sign out?
      </div>
    </div>
    <div class="van-hairline--top van-dialog__footer van-dialog__footer--buttons">
      <button class="van-button van-button--default van-button--large van-dialog__cancel">
        <div class="van-button__content">
          <span class="van-button__text">Cancel</span>
        </div>
      </button>
      <button class="van-button van-button--default van-button--large van-dialog__confirm van-hairline--left">
        <div class="van-button__content">
          <span class="van-button__text">Confirm</span>
        </div>
      </button>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/client.js"></script>
  <script>
    fetch("/api/webapi/GetUserInfo")
      .then((response) => response.json())
      .then((data) => {
        if (data.status === false) {
          unsetCookie();
          return false;
        }
        $(".infoName .name").text(data.data.name_user);
        $(".infoName .id").text(`ID:${data.data.id_user}`);
        $(".infoName .id").attr("data-clipboard-text", "");
        $(".infoName .number").text(`Mobile No:${data.data.phone_user}`);
        $(".money .txt").text(` ₹ ${data.data.money_user} `);
        $(".money .txt1").text(` ₹ ${data.data.bonus_money} `);
      });
  </script>
  <!---->
  <script>
    $(".reload_money").click(function (e) {
      e.preventDefault();
      $(this).addClass("action block-click");
      setTimeout(() => {
        $(this).removeClass("action block-click");
      }, 3000);
    });

    window.onload = function () {
      $(".Loading").fadeOut(10);
    };
    $(".van-dialog__cancel").click(function (e) {
      e.preventDefault();

      $(".van-dialog").addClass(
        "van-dialog-bounce-leave-active van-dialog-bounce-leave-to"
      );
      setTimeout(() => {
        $(".van-dialog").removeClass(
          "van-dialog-bounce-leave-active van-dialog-bounce-leave-to"
        );
        $(".van-dialog, .van-overlay").fadeOut(50);
      }, 200);
    });
    $(".logout").click(function (e) {
      e.preventDefault();
      $(".van-dialog, .van-overlay").css("display", "");
      $(".van-dialog").addClass(
        "van-dialog-bounce-enter-active van-dialog-bounce-enter-to"
      );
      setTimeout(() => {
        $(".van-dialog").removeClass(
          "van-dialog-bounce-enter-active van-dialog-bounce-enter-to"
        );
      }, 500);
    });
    function setCookie(cname, cvalue, exdays) {
      const d = new Date();
      d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
      let expires = "expires=" + d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(";");
      for (let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == " ") {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    function unsetCookie() {
      setCookie("token", "", 0);
      setCookie("auth", "", 0);
      var checkToken = getCookie("token");
      var checkAuth = getCookie("auth");
      if (!checkToken && !checkAuth) {
        location.href = "/login";
      } else {
        setCookie("token", "", 0);
        setCookie("auth", "", 0);
        location.href = "/login";
      }
    }

    $(".van-dialog__confirm").click(function (e) {
      e.preventDefault();
      unsetCookie();
    });


    function showComingSoon(){
      alert("This feature is under scheduled maintainance")
    }
  </script>
</body>

</html>