<div data-v-a9660e98="" class="box">
    <div data-v-a9660e98="" class="mark-box c-row c-row-middle-center" style="display: none">
        <span data-v-a9660e98="" class="item m-r-20">3</span><span data-v-a9660e98="" class="item m-l-20">6</span>
    </div>
    <div data-v-a9660e98="" class="con-box">
        <div data-v-a9660e98="" class="color-box c-row c-row-between">
            <button data-v-a9660e98="" type="button" data-join="x" class="btn green">Green</button>
            <button data-v-a9660e98="" type="button" data-join="t" class="btn violet">Violet</button>
            <button data-v-a9660e98="" type="button" data-join="d" class="btn red">Red</button>
        </div>
    </div>
    <div data-v-a9660e98="" class="number-box action m-t-10 c-row c-row-between c-flex-warp">
        <button data-v-a9660e98="" type="button" class="item action c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span style=" background: url(/images2/0.png) no-repeat center/cover; background-size: 100% 100%; width: 100%; height: 100%;" data-v-a9660e98="" class="">0</span>
            </div>
            <!-- <img src="/images2/0.png" style="width: 60px;" data-value="0" alt="Image"> -->

        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span style=" background: url(/images2/1.png) no-repeat center/cover; background-size: 100% 100%; width: 100%; height: 100%;" data-v-a9660e98="" class="txt">1</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span style=" background: url(/images2/2.png) no-repeat center/cover; background-size: 100% 100%; width: 100%; height: 100%;" data-v-a9660e98="" class="txt">2</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span style=" background: url(/images2/3.png) no-repeat center/cover; background-size: 100% 100%; width: 100%; height: 100%;" data-v-a9660e98="" class="txt">3</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span style=" background: url(/images2/4.png) no-repeat center/cover; background-size: 100% 100%; width: 100%; height: 100%;" data-v-a9660e98="" class="txt">4</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span style=" background: url(/images2/5.png) no-repeat center/cover; background-size: 100% 100%; width: 100%; height: 100%;" data-v-a9660e98="" class="txt">5</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span style=" background: url(/images2/6.png) no-repeat center/cover; background-size: 100% 100%; width: 100%; height: 100%;" data-v-a9660e98="" class="txt">6</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span style=" background: url(/images2/7.png) no-repeat center/cover; background-size: 100% 100%; width: 100%; height: 100%;" data-v-a9660e98="" class="txt">7</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span style=" background: url(/images2/8.png) no-repeat center/cover; background-size: 100% 100%; width: 100%; height: 100%;" data-v-a9660e98="" class="txt">8</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span style=" background: url(/images2/9.png) no-repeat center/cover; background-size: 100% 100%; width: 100%; height: 100%;" data-v-a9660e98="" class="txt">9</span>
            </div>
        </button>
    </div>
    <div data-v-a9660e98="" class="c-row c-row-between random-box">
        <button data-v-a9660e98="" class="random">Random</button>
        <div data-v-a9660e98="" class="c-row">
            <div data-x="1" data-v-a9660e98="" class="item active"
                style="background-color: #efd58c; color: rgb(255, 255, 255)">
                X1
            </div>
            <div data-x="5" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X5
            </div>
            <div data-x="10" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X10
            </div>
            <div data-x="20" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X20
            </div>
            <div data-x="50" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X50
            </div>
            <div data-x="100" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X100
            </div>
        </div>
    </div>
    <div data-v-a9660e98="" class="btn-box c-row">
        <button data-v-a9660e98="" data-join="l" class="item yellow">Big</button>
        <button data-v-a9660e98="" data-join="n" class="item green">Small</button>
    </div>
</div>