<div data-v-a9660e98="" class="game-head" style="display: flex;flex-direction: column;gap:8px;">
    <div data-v-a9660e98="" class="total-box">
      <div data-v-a9660e98="" class="c-row c-row-between c-row-middle info">
        <div data-v-a9660e98="" class="c-row c-row-middle">
          <div data-v-a9660e98="" class="m-r-10">
            <div
              data-v-a9660e98=""
              class="van-image"
              style="width: 60px; height: 60px"
            >
              <img style="filter: hue-rotate(0deg) !important;" src="/icons2/withdraw_history.png" class="van-image__img" />
            </div>
          </div>
          <div data-v-a9660e98="">
            <h3 data-v-a9660e98="" class="total m-b-5">Main</h3>
            <span data-v-a9660e98="" class="wallet">Balance</span>
          </div>
        </div>
        <div data-v-a9660e98="" class="c-row c-row-middle">
          <div data-v-a9660e98="" class="num">
            <!----><span data-v-a9660e98="">₹ 0.00 </span>
          </div>
  
          <div
            data-v-a9660e98=""
            class="van-image img m-l-10 reload_money"
            style="width: 15px; height: 15px"
          >
            <img  src="/images/tải%20xuống%20(1).png" class="van-image__img" />
          </div>
        </div>
      </div>
    </div>
    <div data-v-a9660e98="" class="total-box">
      <div data-v-a9660e98="" class="c-row c-row-between c-row-middle info">
        <div data-v-a9660e98="" class="c-row c-row-middle">
          <div data-v-a9660e98="" class="m-r-10">
            <div
              data-v-a9660e98=""
              class="van-image"
              style="width: 60px; height: 60px"
            >
              <img style="filter: hue-rotate(0deg) !important;" src="/icons2/withdraw_history.png" class="van-image__img" />
            </div>
          </div>
          <div data-v-a9660e98="">
            <h3 data-v-a9660e98="" class="total m-b-5">Winning</h3>
            <span data-v-a9660e98="" class="wallet">Balance</span>
          </div>
        </div>
        <div data-v-a9660e98="" class="c-row c-row-middle">
          <div data-v-a9660e98="" class="num1" style="font-size: .53333rem;font-weight: 600;">
            <!----><span data-v-a9660e98="">₹ 0.00 </span>
          </div>
  
          <div
            data-v-a9660e98=""
            class="van-image img m-l-10 reload_money"
            style="width: 15px; height: 15px"
          >
            <img src="/images/tải%20xuống%20(1).png" class="van-image__img" />
          </div>
        </div>
      </div>
    </div>
  </div>
  